.mainContact.hide {
    visibility: hidden;
}

.mainContact.display {
    visibility: visible;
}

.contactContent {
    font-size: 25px;
    margin-bottom: 5%;
}

.contactLinks {
    display: inline-block;
}

.contactIMG {
    width: 20%;
}

.link img {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .contactContent {
        font-size: 18px;
        margin-bottom: 5%;
    }
    .contactLinks {
        font-size: 18px;
    }
}