
.navMenu.hide {
    width: 0;
  }
   
  .navMenu.display {
    width: 30%;
    overflow: hidden;
  }
   

.navMenu {
    height: 100%;
    background: linear-gradient(-45deg,  rgb(255, 136, 0), rgb(180, 96, 0), rgb(107, 57, 1), rgb(29, 15, 0), rgb(0, 0, 0));
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow: scroll;
    z-index: 1000;
  }
  .navMenu p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
  }

  .navMenuSelect {
    font-size: 25px;
  }
   
  .navMenu p:hover {
    color: lightslategrey;
  }
  
  .menuItems {
    margin-top: 30%;
  }
  
  .navClose {
    position: absolute;
    top: -20px;
    right: 15px;
    font-size: 20px;
    margin-left: 50px;
  }