body {
  background-color: #EEE;
  font-family: sans-serif;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  overflow: auto;
}
 
#container li {
  margin-bottom: 10px;
}

.menuDiv, .displayDiv {
  border: 1px solid red;

}

.menuDiv {
  width: 5%;
  float: left;
}

.displayDiv {
  width: 90%;
  float: right;
}
